.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  padding: 0 30px;

  @include onTablet {
    padding: 0 34px;
    margin-bottom: 50px;
  }

  @include onDesktopScreen {
    padding: 0 135px;
  }

  &__btn {
    display: block;
    cursor: pointer;

    @include onLittleDesktopScreen {
      display: none;
    }
  }

  
}
